data/
wandb/
logs/
*.pth
*.pt
*.png
*.jpg
*.jpeg
*.csv
.venv/
__pycache__/
models/__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.ipynb
archive/
notes/
cmds/
cmds/commands_config.json
cmds/commands_config.json
